
@font-face {
  font-family: 'Miso-Bold';
  src: url('Miso-Bold.eot?#iefix') format('embedded-opentype'),  url('Miso-Bold.woff') format('woff'), url('Miso-Bold.ttf')  format('truetype'), url('Miso-Bold.svg#Miso-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
